/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white-color: hsl(0, 0%, 96%);
  --black-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Space Grotesk", sans-serif;
  --biggest-font-size: 3rem;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --biggest-font-size: 6.5rem;
    --big-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--white-color);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/


/* Navigation for mobile devices */


/* Show menu */


/* Add shadow header */


/*=============== HOME ===============*/
.error_pg .home__container{
  padding-top: 7.5rem;
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 320px;
  row-gap: 2rem;
}

.error_pg .home__data{
  text-align: center;
}

.error_pg .home__subtitle{
  font-size: var(--normal-font-size);
  margin-bottom: .5rem;
}

.error_pg .home__title{
  text-transform: uppercase;
  font-size: var(--biggest-font-size);
  -webkit-text-stroke: 5px var(--black-color);
  color: var(--white-color);
  paint-order: stroke;
  filter: drop-shadow(-4px 4px 0 var(--black-color));
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.error_pg .home__description{
  font-family: 'Poppins', sans-serif;
  padding-inline: 1.75rem;
  margin-bottom: 2rem;
}

.error_pg .fira{
  font-family: "Fira Code", monospace;;
}

.error_pg .home__button{
  display: inline-flex;
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: var(--font-bold);
  padding: 1rem 1.5rem;
  transition: box-shadow .4s;
}

.error_pg .home__button:hover{
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .2);
}

.error_pg .home__images{
  position: relative;
}

.error_pg .home__images [class*=home__blob]{
  background-color: var(--black-color);
  position: absolute;
}

.error_pg .home__images [class*=home__img]{
  position: absolute;
}

.error_pg .home__blob-1{
  width: 150px;
  height: 180px;
  border-radius: 38% 62% 66% 34%/60% 41% 59% 40%;
  top: -2rem;
  left: -4rem;
  animation: blob-1 4s linear infinite;
}
.error_pg .home__img-1{
  width: 100px;
  top: .75rem;
  right: 1rem;
}

.error_pg .home__blob-2{
  width: 200px;
  height: 195px;
  border-radius: 59% 41% 19% 81%/34% 72% 28% 66%;
  top: -8rem;
  right: -8.5rem;
  animation: blob-2 4s linear infinite;
}
.error_pg .home__img-2{
  width: 120px;
  bottom: 5rem;
  left: 0;
}

.error_pg .home__blob-3{
  width: 200px;
  height: 190px;
  border-radius: 57% 43% 40% 60%/49% 34% 66% 51%;
  left: -5rem;
  bottom: -4.5rem;
  animation: blob-3 4s linear infinite;
}
.error_pg .home__img-3{
  width: 100px;
  top: 1rem;
  right: 2rem;
}

.error_pg .home__blob-4{
  width: 300px;
  height: 290px;
  border-radius: 78% 22% 20% 80%/53% 46% 54% 47%;
  right: -9rem;
  bottom: -4rem;
  animation: blob-4 4s linear infinite;
}
.error_pg .home__img-4{
  width: 200px;
  left: -1rem;
  bottom: 1rem;
}

.error_pg .home__img-5{
  width: 150px;
  left: 0;
  right: -4rem;
  margin: 0 auto;
  top: 1rem;
  rotate: 15deg;
  z-index: -1;
}


/* Animate blobs */
/* Blob Elements - Initial State (No Animation) */
.error_pg .home__blob-1, 
.error_pg .home__blob-2, 
.error_pg .home__blob-3, 
.error_pg .home__blob-4 {
  animation: none; /* Disable animations initially */
}

/* Start blob animations when .active class is added to .main-content */
.main-content.active .home__blob-1 {
  animation: blob-1 4s linear infinite;
}

.main-content.active .home__blob-2 {
  animation: blob-2 4s linear infinite;
}

.main-content.active .home__blob-3 {
  animation: blob-3 4s linear infinite;
}

.main-content.active .home__blob-4 {
  animation: blob-4 4s linear infinite;
}

/* Keyframes for Blobs */
@keyframes blob-1 {
  0%, 100% {
    border-radius: 38% 62% 66% 34% / 60% 41% 59% 40%;
  }
  33% {
    border-radius: 59% 41% 55% 45% / 64% 22% 78% 36%;
  }
  66% {
    border-radius: 59% 41% 35% 65% / 46% 67% 33% 54%;
  }
}

@keyframes blob-2 {
  0%, 100% {
    border-radius: 59% 41% 19% 81% / 34% 72% 28% 66%;
  }
  33% {
    border-radius: 78% 22% 20% 80% / 53% 46% 54% 47%;
  }
  66% {
    border-radius: 57% 43% 40% 60% / 49% 34% 66% 51%;
  }
}

@keyframes blob-3 {
  0%, 100% {
    border-radius: 57% 43% 40% 60% / 49% 34% 66% 51%;
  }
  33% {
    border-radius: 51% 49% 30% 70% / 37% 63% 37% 63%;
  }
  66% {
    border-radius: 51% 49% 28% 72% / 77% 75% 25% 23%;
  }
}

@keyframes blob-4 {
  0%, 100% {
    border-radius: 78% 22% 20% 80% / 53% 46% 54% 47%;
  }
  33% {
    border-radius: 65% 35% 42% 58% / 64% 28% 72% 36%;
  }
  66% {
    border-radius: 32% 68% 46% 54% / 29% 22% 78% 71%;
  }
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .error_pg .container{
    margin-inline: 1rem;
  }

  .error_pg .home__container{
    grid-template-rows: max-content 265px;
  }
  .error_pg .home__images [class*=home__blob],
  .error_pg .home__img-5{
    scale: .7;
  }

  .error_pg .home__title{
    font-size: 2rem;
  }

  .error_pg .home__description{
    padding: 0;
  }
}

@media screen and (max-width: 400px) and (max-height: 650px){
  .error_pg .home__container{
    height: initial;
  }
}

@media screen and (min-width: 400px) and (max-height: 700px){
  .error_pg .home__container{
    height: initial;
  }
}

/* For medium devices */
@media screen and (min-width: 540px){
  .error_pg .home__container{
    grid-template-columns: 400px;
    justify-content: center;
  }
}

/* For large devices */
@media screen and (min-width: 1150px){
  .error_pg .container{
    margin-inline: auto;
  }

  .error_pg .home__container{
    grid-template-columns: 1fr;
    padding-top: 10rem;
  }

  .error_pg .home__subtitle{
    font-size: var(--big-font-size);
  }

  .error_pg .home__title{
    -webkit-text-stroke-width: 8px;
    filter: drop-shadow(-8px 8px 0 var(--black-color)); 
  }

  .error_pg .home__description{
    width: 480px;
    margin: 0 auto 3.5rem;
  }

  .error_pg .home__blob-1{
    width: 220px;
    height: 260px;
    top: -20rem;
    left: -1rem;
  }
  .error_pg .home__img-1{
    width: 180px;
  }

  .error_pg .home__blob-2{
    width: 360px;
    height: 355px;
    top: -27rem;
  }
  .error_pg .home__img-2{
    width: 280px;
  }

  .error_pg .home__blob-3{
    width: 500px;
    height: 485px;
    bottom: -11rem;
  }
  .error_pg .home__img-3{
    width: 250px;
    top: 3rem;
    left: 0;
    right: 0;
    margin-inline: auto;
  }
  
  .error_pg .home__blob-4{
    width: 500px;
    height: 485px;
    right: -7rem;
    bottom: -12rem;
  }
  .error_pg .home__img-4{
    width: 450px;
    left: -2rem;
    bottom: 3rem;
  }

  .error_pg .home__img-5{
    width: 250px;
    right: 0;
    top: 9rem;
  }
}

/* For taller devices */
@media screen and (min-width: 390px) and (min-height: 900px){
  .error_pg .home__container{
    padding-top: 10rem;
  }
}

@media screen and (min-width: 800px) and (min-height: 1200px){
  .error_pg .home__container{
    padding-top: 15rem;
  }
}



/* PRE LOADER */
:root {
  --path: #2F3545;
  --dot: #5628EE;
  --duration: 3s;
}

.loader {
  width: 44px;
  height: 44px;
  position: relative;
  display: inline-block;
  margin: 0 16px;
}

.loader::before {
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle::before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

@keyframes pathTriangle {
  33% { stroke-dashoffset: 74; }
  66% { stroke-dashoffset: 147; }
  100% { stroke-dashoffset: 221; }
}

@keyframes dotTriangle {
  33% { transform: translate(0, 0); }
  66% { transform: translate(10px, -18px); }
  100% { transform: translate(-10px, -18px); }
}

@keyframes pathRect {
  25% { stroke-dashoffset: 64; }
  50% { stroke-dashoffset: 128; }
  75% { stroke-dashoffset: 192; }
  100% { stroke-dashoffset: 256; }
}

@keyframes dotRect {
  25% { transform: translate(0, 0); }
  50% { transform: translate(18px, -18px); }
  75% { transform: translate(0, -36px); }
  100% { transform: translate(-18px, -18px); }
}

@keyframes pathCircle {
  25% { stroke-dashoffset: 125; }
  50% { stroke-dashoffset: 175; }
  75% { stroke-dashoffset: 225; }
  100% { stroke-dashoffset: 275; }
}

html {
  -webkit-font-smoothing: antialiased;
}

.dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}

.dribbble img {
  display: block;
  height: 28px;
}



/* Preloader styling */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-color); /* Background color of preloader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Hide the main content initially */
.main-content {
  display: none;
}



/* ANIMATION FREEZE/DE FREEZE */
